<div id="changePasswordModal" class="modal modal-fixed-footer">
    <div id="editDataLoader" class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-content">
        <h4>Change Password<i id="modal-close" class="mdi mdi-close modal-close right"></i></h4>
    </div>
</div>