<footer class="page-footer">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 l3">
                <h5>Support</h5>
                <ul class="footer-link-list">
                    <li><a href="/termsOfUse">Terms of Use</a></li>
                    <li><a href="/privacyPolicy">Privacy Policy</a></li>
                    <li><a href="/returnPolicy">Return Policy</a></li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h5>Stuff We Do</h5>
                <ul class="footer-link-list">
                    <li>Online Sales</li>
                    <li>Professional Services</li>
                    <li>Advert Placement</li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h5>Contact</h5>
                <ul class="footer-link-list">
                    <li>University of Nigeria Nsukka, Enugu.</li>
                    <li>contact@zubismart.com</li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h5>About</h5>
                <ul class="footer-link-list">
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Maybe Something Else</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div id="left">
            <p style="color: #a2a2a2">&copy; 2019 Copyright Zubis Mart - Developed by <span class="myLink"><a href="https://www.domstech.com" target="_blank">Barman</a></span></p>
        </div>
        <div id="right">
            <h5>Connect</h5>
            <ul id="footerLink">
                <li class="footerLinks"><a href="https://web.facebook.com/Zubismartonline-607558123008426/" target="_blank "><i class="mdi mdi-facebook"></i></a></li>
                <li class="footerLinks"><a href="#!"><span class="mdi mdi-whatsapp"></span></a></li>
                <li class="footerLinks"><a href="#!"><span class="mdi mdi-instagram"></span></a></li>
            </ul>
        </div>
    </div>
</footer>