<header id="page-top">
    <div id="navbar" class="bavbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img id="logo" src="/img/logo.jpg" alt="Zubis Mart Logo"></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-menu"><i id="menu-icon" class="mdi mdi-menu"></i></a>
                <ul id="store-dropdown" class="dropdown-content">
                    <li><a href="#">Accomodation</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Beauty</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Books</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Fashion</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Home Appliances</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Phones &amp; Gadgets</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Trending</a></li>
                </ul>
                <ul id="services-dropdown" class="dropdown-content">
                    <li><a href="#">Photography</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Home Cleaning</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Ushering</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Gardening</a></li>
                    <li class="divider"></li>
                    <li><a href="#">MC</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Performers/Artistes</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Fashion</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Phone &amp; Laptop Repairs</a></li>
                </ul>
                <ul id="mobile-store-dropdown" class="dropdown-content">
                    <li><a href="#">Accomodation</a></li>
                    <li><a href="#">Beauty</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Home Appliances</a></li>
                    <li><a href="#">Phones &amp; Gadgets</a></li>
                    <li><a href="#">Trending</a></li>
                </ul>
                <ul id="mobile-services-dropdown" class="dropdown-content">
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Home Cleaning</a></li>
                    <li><a href="#">Ushering</a></li>
                    <li><a href="#">Gardening</a></li>
                    <li><a href="#">MC</a></li>
                    <li><a href="#">Performers/Artistes</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Phone &amp; Laptop Repairs</a></li>
                </ul>
                <ul class="hide-on-med-and-down right">
                    {{#if user}}
                        <li class="active"><a href="/"><i class="mdi mdi-home left"></i>Home</a></li>
                        <li><a href="#"><i class="mdi mdi-dashboard left"></i>Dashboard</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="store-dropdown"><i class="mdi mdi-shopping left"></i>Store</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="services-dropdown"><i class="mdi mdi-truck-fast left"></i>Services</a></li>
                        <li><a href="#"><i class="mdi mdi-information-variant left"></i>About</a></li>
                        <li><a href="#"><i class="mdi mdi-account left"></i>My Account</a></li>
                        <li><a href="/users/logout/{{user._id}}"><i class="mdi mdi-logout left"></i>Log out</a></li>
                    {{else}}
                        <li class="active"><a href="/"><i class="mdi mdi-home left"></i>Home</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="store-dropdown"><i class="mdi mdi-shopping left"></i>Store</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="services-dropdown"><i class="mdi mdi-truck-fast left"></i>Services</a></li>
                        <li><a href="#"><i class="mdi mdi-information-variant left"></i>About</a></li>
                        <li class="sell"><a href="/sell"><i class="mdi mdi-tag left"></i>Sell on Z-Mart</a></li>
                        <li><a href="#loginModal" class="modal-trigger"><i class="mdi mdi-login left"></i>Login/Signup</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <ul id="mobile-menu" class="sidenav">
            {{#if user}}
                <li><a href="/"><i class="mdi mdi-home left"></i>Home</a></li>
                <li><a href="#"><i class="mdi mdi-dashboard left"></i>Dashboard</a></li>
                <li><a href="#!" class="dropdown-trigger" data-target="mobile-store-dropdown"><i class="mdi mdi-shopping left"></i>Store</a></li>
                <li><a href="#!" class="dropdown-trigger" data-target="mobile-services-dropdown"><i class="mdi mdi-truck-fast left"></i>Services</a></li>
                <li><a href="#"><i class="mdi mdi-information-variant left"></i>About</a></li>
                <li><a href="#"><i class="mdi mdi-account left"></i>My Account</a></li>
                <li><a href="/users/logout/{{user._id}}"><i class="mdi mdi-logout left"></i>Log out</a></li>
            {{else}}
                <li><a href="/"><i class="mdi mdi-home left"></i>Home</a></li>
                <li><a href="#!" class="dropdown-trigger" data-target="mobile-store-dropdown"><i class="mdi mdi-shopping left"></i>Store</a></li>
                <li><a href="#!" class="dropdown-trigger" data-target="mobile-services-dropdown"><i class="mdi mdi-truck-fast left"></i>Services</a></li>
                <li><a href="#"><i class="mdi mdi-information-variant left"></i>About</a></li>
                <li class="sell"><a href="/sell"><i class="mdi mdi-tag left"></i>Sell on Z-Mart</a></li>
                <li><a href="#loginModal" class="modal-trigger"><i class="mdi mdi-login left"></i>Login/Signup</a></li>
            {{/if}}            
        </ul>
    </div>
    {{> loginModal}}
</header>