{{> header}}
<main>
    <div class="breadcrumb-container" class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="" class="breadcrumb">Store</a>
            <a href="/services/catering" class="breadcrumb active">Catering</a>
            <h4>Catering</h4>
        </div>
    </div>
    <section>
        {{#if services}}
            <div class="section">
                <div class="row">
                    {{#each services}}
                        <div class="col s12 m6 l3">
                            <div class="service-card hoverable">
                                <div class="card-icon">
                                    <span class="mdi mdi-food-fork-drink service-icon"></span>
                                </div>
                                <div class="content service">
                                    <p>Seller: <span class="service-info">{{this.userName}}</span></p>
                                    <p>Contact: <span class="service-info">{{this.phone}}</span></p>
                                    <p>Description: <span class="service-info">{{this.description}}</span></p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <h3 class="no-service">THERE ARE NO CATERING SERVICES AT THIS TIME</h3>
        {{/if}}
    </section>
</main>
{{> fab}}
{{> footer}}