{{> header}}
<main>
    <section id="main-section">
            <div class="slider">
            <ul class="slides">
                <li>
                    <img class="slides" src="/img/slide1.jpg" alt="Slide 1">
                    <div class="caption center-align">
                        <h3 id="slide1-header">Victory Granite and Tiles</h3>
                        <h5 class="section light" style="color: rgba(0, 0, 0, .8); background-color: rgba(255, 255, 255, 0.5);"><em>Amplify the beauty of your Home...</em></h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide2.jpg" alt="Slide 2">
                    <div class="caption center-align">
                        <h3 id="slide2-header" class="section light">we define comfort...</h3>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide3.jpg" alt="Slide 3">
                    <div class="caption">
                        <h3 id="slide3-header">Home Furniture, <br>with Exquisite Taste</h3>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide4.jpg" alt="Slide 4">
                    <div class="caption center-align">
                        <h3 id="slide4-header">Make your House a Home</h3>
                        <h5 id="slide4-subtitle"class="section light">We offer the best!</h5>
                    </div>
                </li>		
                <li>
                    <img class="slides" src="/img/slide5.jpg" alt="Slide 5">
                    <div class="caption center-align">
                        <a class="btn waves-effect waves-light view-more" href="#target" data-href="/partials/bedroom-furniture.html">See More Furniture</a>
                    </div>
                </li>				
            </ul>
        </div>
        <div>
            <h5 class="sub-header">Latest Products</h5>
            <div class="card-container row">
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
            </div>
            <div class="card-container row">
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
                <div class="card sticky-action card-item hoverable col s12  l3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/slide4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">MacBook Pro<i class="mdi mdi-dots-vertical tooltipped option-icon right" data-tooltip="View Info"></i></span>
                    </div>
                    <div class="card-action">
                        <p class="price"><span class="mdi mdi-currency-ngn">25,000</span></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">MacBook Pro<i class="mdi mdi-close close-card right"></i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ab.</p>
                        <p>Sold By: Onwuka Zubis</p>
                        <p>Contact: 09026425337</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light parallax-header">Your favourite collection of shoes in several different colours and sizes.</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img class="responsive-img" src="/img/slide5.jpg" alt="Unsplashed background img 2"></div>
        </div>
        <div class="scrollspy" id="about">
            <h5 class="sub-header">About Zubis Mart</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime necessitatibus laboriosam quasi debitis doloribus repudiandae mollitia soluta fuga qui, eius delectus, quaerat cupiditate! Veritatis illo accusantium corporis recusandae id ipsam voluptas nobis possimus eius quia. A eos architecto perferendis consequatur laudantium quisquam, quos earum voluptate rerum tenetur accusantium rem assumenda!</p>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light parallax-header">Your favourite collection of shoes in several different colours and sizes.</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img class="responsive-img" src="/img/slide2.jpg" alt="Parallax Image 2"></div>
        </div>
    </section>
    <div id="signup-form-container">
        <div id="logoContainer">
            <img id="signupFormLogo" class="center-align" src="/img/transparent-logo.png" alt="Zubis Mart Logo">
        </div>
        <div>
            <form id="signupForm" name="signupForm">
                <div id="signupLoader" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <h4 id="loginFormHeader" class="center">Create An Account</h4>
                <div class="row">
                    <div class="col s12 l6 input-field">
                        <i class="mdi mdi-alphabetical prefix"></i>
                        <input type="text" name="firstName" id="firstName" class="validate">
                        <label for="firstName">Enter First Name</label>
                        <span class="helper-text" data-error="Invalid First Name!" data-success="Okay"></span>
                    </div>
                    <div class="col s12 l6 input-field">
                        <i class="mdi mdi-alphabetical prefix"></i>
                        <input type="text" name="lastName" id="lastName" class="validate">
                        <label for="lastName">Enter Last Name</label>
                        <span class="helper-text" data-error="Invalid Last Name!" data-success="Okay"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-email-outline prefix"></i>
                        <input type="email" name="email" id="email" class="validate">
                        <label for="email">Enter Email Address</label>
                        <span class="helper-text" data-error="Invalid Email Address!" data-success="Okay">Example: john@doe.com</span>
                        <span id="emailErrorMessage"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-phone prefix"></i>
                        <input type="text" name="phone" id="phone" class="validate">
                        <label for="phone">Enter Phone Number</label>
                        <span class="helper-text" data-error="Invalid Phone Number!" data-success="Okay">Example: 09026425337</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-lock-outline prefix"></i>
                        <input type="password" name="password" id="password" class="validate">
                        <label for="password">Enter Password</label>
                        <span class="helper-text" data-error="Invalid Password! Password should be at least 8 characters long." data-success="Okay">Password should be at least 8 characters long.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <button type="submit" class="btn waves-effect waves-light" id="signupButton">Create Account</button>
                    </div>
                </div>
                <div id="signupFormFooterRow" class="row">
                    <div id="signupFormFooter" class="col s12 input-field">
                        <p class="center">Already have an account?</p>
                        <a href="#loginModal" class="modal-trigger button btn waves-effect waves-light" id="login">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{> fab}}
</main>
{{> footer}}