{{> header}}
<main>
    <div id="sell-main">
        <div id="breadcrumb-container" class="row">
            <div class="col s12 container">
                <a href="/" class="breadcrumb">Home</a>
                <a href="/sell" id="sell" class="breadcrumb">Sell on Z-Mart</a>
                <h4>Sell on Zubis Mart</h4>
            </div>
        </div>
        <div id="sell-main-container" class="row">
            <div class="col l4 s12">
                <img class="responsive-img" id="tab" src="/img/tab.png" alt="Tab">
            </div>
            <div class="col l8 s12">
                <h2 class="sell-header">Grow your business online</h2>
                <p>Reach millions of buyers in every state in Nigeria easily, get your business on Zubis Mart today!</p>
                <a href="#loginModal" class="btn sell-register-button modal-trigger">Register Now</a>
            </div>
        </div>
        <div id="why-sell">
            <h5 id="why-sell-header" class="center">Why Sell on Zubis Mart?</h5>
            <div class="row center">
                <div class="col s12 l4">
                    <i class="mdi mdi-currency-ngn sell-icons"></i>
                    <h5 class="sell-sub-header">Earn More Money</h5>
                    <p>
                        With the ever increasing customer range which we provide, you can be rest assured of more sales and therefore, huge profits.
                    </p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-headset sell-icons"></i>
                    <h5 class="sell-sub-header">Communication is Easy</h5>
                    <p>
                        Zubis Mart bridges the problem of distance between buyers and sellers. We make it easier for customers to contact buyers with very little effort.
                    </p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-calculator sell-icons"></i>
                    <h5 class="sell-sub-header">Low Commissions</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 l4">
                    <i class="mdi mdi-progress-clock sell-icons"></i>
                    <h5 class="sell-sub-header">You Have Our 24/7 Support</h5>
                    <p>
                        We provide round the clock user support. So be rest assured we've got you covered whenever you need our assistance or support.
                    </p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-sync sell-icons"></i>
                    <h5 class="sell-sub-header">You're in Control</h5>
                    <p>
                        Choose what you sell, how you sell, and who you sell to. Our users have absolute and easy control over products and services posted on Zubismart. 
                    </p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-security sell-icons"></i>
                    <h5 class="sell-sub-header">We Make Sure It's Safe</h5>
                    <p>With our state of the art web technologies, you can be rest assured personal information with us is always kept safe from attackers.</p>
                </div>
            </div>
        </div>
        <div id="sell-bottom" class="row">
            <div id="earn-div" class="col s12 l6 ">
                <h3 class="sell-header">Earn Money, Hassle Free</h3>
                <a href="#loginModal" class="btn waves-effect waves-dark sell-register-button modal-trigger">Register Now</a>
            </div>
            <div class="col s12 l6">
                <img class="responsive-img" id="tab-pc" src="/img/tabs-pc.png" alt="Tablet PCs">
            </div>
        </div>
    </div>
    {{> fab}}
</main>
{{> footer}}