{{> header}}
<main>
    <div id="sell-main">
        <div class="row">
            <div id="breadcrumb-container" class="col s12 container">
                <a href="/" class="breadcrumb">Home</a>
                <a href="/sell" id="sell" class="breadcrumb">Sell on Z-Mart</a>
                <h4>Sell on Zubis Mart</h4>
            </div>
        </div>
        <div id="sell-main-container" class="row">
            <div class="col l4 s12">
                <img class="responsive-img" id="tab" src="/img/tab.png" alt="Tab">
            </div>
            <div class="col l8 s12">
                <h2 class="sell-header">Grow your business online</h2>
                <p>Reach millions of buyers in every state in Nigeria easily, get your business on Zubis Mart today!</p>
                <a href="/users/register" class="btn sell-register-button">Register Now</a>
            </div>
        </div>
        <div id="why-sell">
            <h5 id="why-sell-header" class="center">Why Sell on Zubis Mart?</h5>
            <div class="row center">
                <div class="col s12 l4">
                    <i class="mdi mdi-currency-ngn sell-icons"></i>
                    <h5 class="sell-sub-header">Earn More Money</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-headset sell-icons"></i>
                    <h5 class="sell-sub-header">Communication is Easy</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-calculator sell-icons"></i>
                    <h5 class="sell-sub-header">Low Commissions</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 l4">
                    <i class="mdi mdi-progress-clock sell-icons"></i>
                    <h5 class="sell-sub-header">You Have Our 24/7 Support</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-sync sell-icons"></i>
                    <h5 class="sell-sub-header">You're in Control</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
                <div class="col s12 l4">
                    <i class="mdi mdi-security sell-icons"></i>
                    <h5 class="sell-sub-header">We Make Sure It's Safe</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem soluta molestiae porro dignissimos unde aliquid cupiditate alias labore numquam!</p>
                </div>
            </div>
        </div>
        <div id="sell-bottom" class="row">
            <div id="earn-div" class="col s12 l6 ">
                <h3 class="sell-header">Earn Money, Hassle Free</h3>
                <a class="btn waves-effect waves-dark sell-register-button">Register Now</a>
            </div>
            <div class="col s12 l6">
                <img class="responsive-img" id="tab-pc" src="/img/tabs-pc.png" alt="Tablet PCs">
            </div>
        </div>
    </div>
    <div id="signup-form-container">
        <div>
            <form id="signupForm" name="signupForm">
                <div id="signupLoader" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <h4 id="loginFormHeader" class="center">Create An Account</h4>
                <div class="row">
                    <div class="col s12 l6 input-field">
                        <i class="mdi mdi-alphabetical prefix"></i>
                        <input type="text" name="firstName" id="firstName" class="validate">
                        <label for="firstName">Enter First Name</label>
                        <span class="helper-text" data-error="Invalid First Name!" data-success="Okay"></span>
                    </div>
                    <div class="col s12 l6 input-field">
                        <i class="mdi mdi-alphabetical prefix"></i>
                        <input type="text" name="lastName" id="lastName" class="validate">
                        <label for="lastName">Enter Last Name</label>
                        <span class="helper-text" data-error="Invalid Last Name!" data-success="Okay"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-email-outline prefix"></i>
                        <input type="email" name="email" id="email" class="validate">
                        <label for="email">Enter Email Address</label>
                        <span class="helper-text" data-error="Invalid Email Address!" data-success="Okay">Example: john@doe.com</span>
                        <span id="emailErrorMessage"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-phone prefix"></i>
                        <input type="text" name="phone" id="phone" class="validate">
                        <label for="phone">Enter Phone Number</label>
                        <span class="helper-text" data-error="Invalid Phone Number!" data-success="Okay">Example: 09026425337</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="mdi mdi-lock-outline prefix"></i>
                        <input type="password" name="password" id="password" class="validate">
                        <label for="password">Enter Password</label>
                        <span class="helper-text" data-error="Invalid Password! Password should be at least 8 characters long." data-success="Okay">Password should be at least 8 characters long.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <button type="submit" class="btn waves-effect waves-light" id="signupButton">Create Account</button>
                    </div>
                </div>
                <div id="signupFormFooterRow" class="row">
                    <div id="signupFormFooter" class="col s12 input-field">
                        <p class="center">Already have an account?</p>
                        <a class="modal-trigger button btn waves-effect waves-light" data-target="loginModal" id="login">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{> fab}}
</main>
{{> footer}}