{{> header}}
<main>
    <div class="breadcrumb-container" class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/termsOfUse" class="breadcrumb active">Terms of Use</a>            
            <h3 class="header">Terms Of Use</h3>
        </div>
    </div>
    <section class="container">
        <article>
            <h4>Terms and Conditions</h4>
            <h5 class="secondary-header">Introduction</h5>
            <p>
                Welcome to the Zubismart.com website. These terms & conditions ("Terms and Conditions") apply to the Site, and all of its divisions, subsidiaries, and affiliate operated Internet sites which reference these Terms and Conditions.
            </p>
            <p>
                The Site reserves the right, to change, modify, add, or remove portions of both the Terms and Conditions of Use and the Terms and Conditions of Sale at any time. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions constitutes your acceptance of those changes.
            </p>
            <p>
                Kindly review the Terms and Conditions listed below diligently prior to using this website as your use of the website indicates your agreement to be wholly bound by its Terms and Conditions without modification.
            </p>
            <p>
                You agree that if you are unsure of the meaning of any part of these Terms and Conditions or have any questions regarding the Terms and Conditions, you will not hesitate to contact us for clarification. These Terms and Conditions fully govern the use of this website. No external  evidence, whether oral or written, will be incorporated.
            </p>
        </article>
        <article>
            <h4>Terms and Conditions of Use</h4>
            <h5 class="secondary-header">Use of the Site</h5>
            <p>
                You confirm that you are at least 18 years of age or are accessing the Site under the supervision of a parent or legal guardian. If you do not agree with the Terms and Conditions of Use or do not wish to be bound by them, you agree to refrain from using this website.
            </p>
            <p>
                We grant you a non-transferable, revocable and non-exclusive license to use this Site, in accordance with the Terms and Conditions of Use, for such things as: shopping for personal items sold on the site, gathering prior information regarding our products and services and making purchases. Commercial use or use on behalf of any third party is prohibited, except as explicitly permitted by us in advance. These Terms and Conditions of Use specifically prohibit actions such as: accessing our servers or internal computer systems, interfering in any way with the functionality of this website, gathering or altering any underlying software code, infringing any intellectual property rights. This list is non-exhaustive and similar actions are also strictly prohibited.
            </p>
            <p>
                Any breach of these Terms and Conditions of Use shall result in the immediate revocation of the license granted in this paragraph without prior notice to you. Should we determine at our sole discretion that you are in breach of any of these conditions, we reserve the right to deny you access to this website and its contents.
            </p>
            <p>
                Certain services and related features that may be made available on the Site may require registration and/ or subscription. Should you choose to register or subscribe for any such services or related features; you agree to provide accurate and current information about yourself, and to promptly update such information if there are any changes. Every user of the Site is solely responsible for keeping passwords and other account identifiers safe and secure.
            </p>
            <p>
                The account owner is entirely responsible for all activities that occur under such password or account. Furthermore, you must notify us of any unauthorized use of your password or account. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.
            </p>
        </article>
        <article>
            <h4>Information Available on Website</h4>
            <p>
                You accept that the information contained in this website is intended for information purposes only and that it is subject to change without notice. Although we take reasonable steps to ensure the accuracy of information and we believe the information to be reliable when posted, it should not be totally relied upon and it does not in any way constitute either a warranty or a guarantee.
            </p>
            <p>
                Product representations expressed on this Site are those of the vendor and are not made by us. Submissions or opinions expressed on this Site are those of the individual posting such content and may not reflect our opinions.
            </p>
            <p>
                We make no representations as to the merchantability of any products listed on our website, and we hereby disclaim all warranties, whether express or implied, as to the merchantability and/or fitness of the products listed on our website for any particular purpose. We shall not be held responsible or made liable for any damages or injury which may arise as a result of any error, omission, interruption, deletion, delay in operation or transmission, computer virus, communication failure and defect in the information, content, materials, software or other services included on or otherwise made available through our Website. We understand that certain state laws do not allow limitations on implied warranties or limitation of certain damages, these disclaimers may therefore not apply where these laws are applicable.
            </p>
        </article>
        <article>
            <h4>Accessibility of Website</h4>
            <p>
                We aim to make the website accessible at all times, however we make no representation of that nature and reserves the right to terminate the website at any time and without notice. You accept that service interruption may occur in order to allow for website improvements, scheduled maintenance or may also be due to outside factors beyond our control.
            </p>
        </article>
        <article>
            <h4>Links and Third Party Websites</h4>
            <p>
                We may include links to third party websites at any time. However, the existence of a link to another website should not be considered as an affiliation or a partnership with a third party or viewed as an endorsement of a particular website unless explicitly stated otherwise.
                <br>
                In the event the user follows a link to another website, he or she does so at his or her own risk.
            </p>
            <p>
                Creating a link to this website is strictly forbidden without our prior written consent. Furthermore, we reserve the right to revoke our consent without notice or justification. 
            </p>
        </article>
        <article>
            <h4>Data Protection</h4>
            <p>
                Any personal information collected in relation to the use of this website will be held and used in accordant with our Privacy Policy, which is available on our Site.
            </p>
        </article>
        <article>
            <h4>Indemnity</h4>
            <p>
                You agree to indemnify and hold us, our affiliates, officers, directors, agents and/or employees, as the case may be, free from any claim or demand, including reasonable legal fees, related to your breach of these Terms of Use and User Agreement.
            </p>
        </article>
        <article>
            <h4>Change of Agreement</h4>
            <p>
                In addition to any other legal or equitable remedies, we may, with or without prior notice to you, immediately terminate and change the Terms and Conditions of Use or revoke any or all of your rights granted under the Terms and Conditions of Use.
            </p>
            <p>
                Upon any termination or change of this Agreement, you shall be notified and required to reassess and re-agree to the terms and conditions.
            </p>
        </article>
        <article>
            <h4>Liability of Parties on the Zubis Mart</h4>
            <p>
                We operate a marketplace which is open for third-parties to sell their products on our website. None of the products listed on the Zubis Mart are owned or sold by us, neither are we involved in the actual sale transaction between the buyers and sellers on the Zubis Mart.
            </p>
            <p>
                The buyer and seller agree that we would be held free from any liability in contract, pre-contract or other representations in tort, for all transactions conducted on the Zubis Mart.
            </p>
        </article>
        <article>
            <h4>Delivery</h4>
            <p>
                This Site is only for advertising or showcasing of products to customers within Nigeria. Zubis Mart does not deliver goods to customers yet, it is the duty of the sellers to deliver their sold goods to their customers; that is why we make every effort to connect you with our sellers and service providers to ensure a smooth transaction. and so we shall be under no liability for any delay or failure to deliver the products within the estimated timescales. You agree not to hold Zubis Mart liable for any delay or failure to deliver products or otherwise perform any obligation as specified in these Terms and Conditions of Sale if the same is wholly or partly caused whether directly or indirectly by circumstances beyond our reasonable control.
            </p>
        </article>
        <article>
            <h4>Return Policy</h4>
            <p>
                The returning of products shall be according to the sellers opinions and/or the agreement made between both parties (the buyer and seller). Zubis Mart has no say here as the transactions are strictly between the customer and sellers or service providers. It is important to note that the return agreement should be made between both parties before the conclusion of transactions to avoid future complications.
            </p>
        </article>
    </section>
    {{> fab}}
</main><br><br>
{{> footer}}