body {
    background-color: #fff !important;
}

#preloader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(241, 241, 241, 0.5);
}

.preloader-wrapper {
    position: relative;
    top: 45vh;
    left: 45vw
}

.header {
    text-align: center;
    font-family: 'Rajdhani';
}

#heading {
    color:#ffa500;
}

#findUser {
    background-color: #f8f8f8; 
    font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    width: 50% !important;
}

#findUser:focus {
    background-color: #f5f5f5; 
}

#numberOfUsers {
    background-color: #34b7f1;
    color: #fff;
    padding: 5px;
    position: relative;
    margin: 0 auto;
    width: 25%;
}

.error-message {
    border-radius: 5px;
    color: rgba(204, 75, 55, 0.8);
    background-color: rgba(204, 75, 55, 0.5);
}

.success-message {
    border-radius: 10px;
    color: #388e3c;
    background-color: #a5d6a7;
}

table {
    box-shadow: 0px 0px 5px #e6e6e6;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tbody {
    font-size: 0.85rem;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #cddc39 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #a7b018 !important;
}

.tooltipped {
    cursor: pointer;
}

.editUser {
    color: #34b7f1;
}

.removeUser {
    color: red;
}

.markAsPaid {
    color: green;
}
