#main-section {
    height: auto;
    width: 100%;
}

#left-section {
    background-color: #fff;
    height: 100vh;
    padding: 15px;
}

#left-section h6 {
    position: relative;
    top: -30px;
    text-transform: capitalize !important;
}

#username {
    font-family: 'Dosis', sans-serif;
}

#right-section {
    background-color: transparent;
    padding: 20px 40px;
    height: auto;
}

#right-section h5 {
    color: #fa9609;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    transition: color 2s;
}

#right-section h5:hover {
    color: #969e16;
}

#dashboard-icon {
    color: #999;
}

.profile-icon {
    color: #999;
    /* color: #e1e1e1; */
    font-size: 100px;
    text-align: center;
}

#profile-icon-div {
    text-align: center;
    margin: 0;
}

.card-panel, .card-panel span, .card-panel h5, .card-panel h6 {
    color: #fff !important;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

#card1 {
    background-color: rgba(199, 68, 68, .6);
}

#card2 {
    background-color: rgba(38, 166, 154, .6);
}

.card-icon {
    font-size: 48px;
}

.stock-data {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
}

th {
    font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.delete-services-icon, .delete-products-icon {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-size: 20px;
}

.not-available {
    background-color: #fff;
    border-radius: 5px;
    color: #777;
    font-weight: lighter;
    padding: 15px;
    text-align: center;
}

.delete-services-icon:hover, .delete-products-icon:hover {
    color: #f44336;  
}

.collection h4 {
    font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collection-item a{
    color: #333;
    font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.collection-item a:visited{
    color: #333;
}

.collection-item a:hover{
    color: #039be5;
    cursor: pointer;
    text-decoration: underline;
}

.collection-item a:active{
    color: #f44336;  
}

#editEmailErrorMessage, #incorrectRemoveUserPassword, #incorrectEditPassword, {
    color: #f44336;
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    margin-left: 3rem;
}

#oldPasswordErrorMessage, #newPasswordErrorMessage {
    color: #f44336;
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
}

#addItemModal, #editDataModal {
    max-height: 95%;
}

.editModalButton {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    margin-right: 10px;
    width: 100%;
}

#cancelButton {
    background-color: #fa9609;
}

#cancelButton:hover {
    background-color: #e28400;
    box-shadow: 2px 2px 3px #c5c5c5;
}

#editButton {
    background-color: #a7b018;
}

#editButton:hover {
    background-color: #969e16;
    box-shadow: 2px 2px 3px #c5c5c5;
}

#saveButton {
    background-color: #43a047; 
    box-shadow: none;
}

#saveButton:hover {
    background-color: #388e3c; 
    box-shadow: 2px 2px 3px #c5c5c5;
}

.editModalButtonIcon {
    position: relative;
    left: 10px;
    font-size: 20px;
}