body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

section {
    background-color: #ffffff;
}

.sub-header {
    margin-top: 0 !important;
    padding-top: 10px;
    z-index: 3 !important;
}

.service-card {
    background-color: #fff;
    border-radius: 2px;
    min-height: 400px;
    max-width: 100%;
    margin-bottom: 25px;
    padding: 0 2rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 
        0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-icon {
    text-align: center;
}

.service-icon {
    color: #aaa;
    font-size: 5rem;
}

.no-items {
    margin: 0 !important;
}