body {
    background-color: #efefef !important;
}

#logo {
    max-width: 155px !important;
    max-height: 300px !important;
    /* position: relative;
    top: 3px; */
}

nav {
    background-color: #a7b018;
}

.dropdown-content {
    width: auto !important;
    background-color: #a7b018;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #fff;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #969e16;
}

.sidenav {
    background: linear-gradient(to bottom, #a7b018, #92d14f);
    width: 250px;
}

.sidenav li > a, .sidenav li > a > .mdi {
    color: #fff;
}

.slider .indicators .indicator-item.active {
    /* background-color: #83bc47; */
    background-color: #fa9609;
}

.page-footer {
    background-color: transparent;
    color: #333 !important;
}

#footerLink li{
    display: inline-block;
}

.footerLinks {
    margin-left: 30px;
    font-size: 30px;
}

.footerLinks a {
    color: #a7b018;
    text-align: center;
}

.footerLinks a:hover {
    color: #fa9609;
}

.footer-copyright {
    background-color: #fff !important;
    border-top: 2px solid #e5e5e5;
    color: #333 !important;
    text-align: center;
}

@media (max-width: 768px) {
    .card-item {
        flex-basis: 100% !important;
    }
}